<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/thunder_download_plugin</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>Thunder Download Plugin</string>
		</dict>
	</dict>
</dict>
</plist>
